{{#partial "content"}}

    <p>Description: {{ animal.name }}</p>

    <p>
        <a href="/animals/{{animal.id}}/edit"class="fas fa-trash-alt btn btn-info"style="margin: 5px">Edit</a><br>
        <a href="/animals/{{animal.id}}/delete"class="fas fa-edit btn btn-danger">Delete</a>
    </p>

{{/partial}}

{{> layout.hbs}}