{{#partial "content"}}

    <p>Description: {{ animal.name }}</p>

    <p>
        <a href="/animals/{{animal.id}}/edit">Edit this animal</a><br>
        <a href="/animals/{{animal.id}}/delete">DELETE this animal</a>
    </p>

{{/partial}}

{{> layout.hbs}}