{{#partial "content"}}

    {{#if editAnimal}}
        <h1>Edit this Task!</h1>
        <div class="form-group">
            <form action="/animals/{{animal.id}}" method="post">
                <br>
                <label for="newName">Edit this animal's name</label>
                <input id="newName" name="newName" type="text" class="form-group" value="{{animal.name}}" placeholder="Enter New Name">
                <br>
                <button type="submit" class="btn btn-primary">Go!</button>
            </form>
        </div>

    {{else}}
        <h2>Add a new Task!</h2>
        <div class="form-group">
            <form action="/animals" method="post">

                <label for="name">Animal Name</label>
                <input id="name" name="name" type="text"  class="form-control"  aria-describedby="emailHelp" placeholder="Enter Name">

                <button type="submit" class="btn btn-primary">Go!</button>
            </form>
        </div>

    {{/if}}
{{/partial}}

{{> layout.hbs}}