
{{#partial "content"}}
        <h1>{{category.name}}</h1>
    <ul>
        <p>Here are all the tasks listed in this category:</p>
    </ul>
    <a href="/categories/{{category.id}}/edit">Edit this category</a><br>
    <a href="/categories/{{category.id}}/delete">DELETE this category</a>
{{/partial}}

{{> layout.hbs}}