
{{#partial "content"}}
        <h1>{{endangered.name}}</h1>
    <ul>
        <p>Here are all animals listed in this endangered:</p>
    </ul>
    <a href="/endangered/{{endangered.id}}/edit"class="fas fa-trash-alt btn btn-info"style="margin: 5px">Edit</a><br>
    <a href="/endangered/{{endangered.id}}/delete"class="fas fa-edit btn btn-danger">Delete</a></br>
        <a href="/endangered/delete"class="btn btn-danger">delete all  animals</a></br></br>
{{/partial}}

{{> layout.hbs}}