
{{#partial "content"}}
        <h1>{{endangered.name}}</h1>
    <ul>
        <p>Here are all the tasks listed in this endangered:</p>
    </ul>
    <a href="/endangered/{{endangered.id}}/edit">Edit this endangered</a><br>
    <a href="/endangered/{{endangered.id}}/delete">DELETE this endangered</a>
{{/partial}}

{{> layout.hbs}}