<div class="container-fluid">
    {{#partial "content"}}
        <div class="card" style="width: 40rem;">
            <img class="card-img-top" src="https://tunza.eco-generation.org/file/desktop-hd-images-of-african-animals.jpg" alt="Card image cap">
        </div>

    {{/partial}}
    {{> layout.hbs}}
</div>
