{{#partial "content"}}
    {{#if endangered}}
        {{#each endangered}}
            <h1>{{location}}</h1>
            <p>Here are all the tasks listed in this endangered:</p>
            {{#if endangeredAll}}
                {{#each endangeredAll}}
                    <a href="/sightings/{{id}}/edit">Edit this endangered</a><br>
                    <a href="/sightings/{{id}}/delete">DELETE this endangered</a>
                {{/each}}
            {{/if}}

        {{/each}}
    {{/if}}


{{/partial}}

{{> layout.hbs}}