{{#partial "content"}}
    {{#if editSighting}}
        <h1>Edit this endangered!</h1>
        <div class="form-group">
        <form action="/sightings/{{sighting.id}}" method="post">
            <label for="newRanger">Edit this endangered's name</label>
            <input id="newRanger" name="newRanger" class="form-control" type="text" value="{{sighting.ranger}}">
            <label for="newLocation" id="newLocation">Example select</label>
            <select class="form-control" id="newLocation" class="form-control" name="newLocation" required>
                <option >ZONE A</option>
                <option >ZONE B</option>
                <option>ZONE C</option>
                <option >ZONE D</option>
                <option >ZONE E</option>
            </select>
            <label for="newAnimalId">Edit this endangered's name</label>
            <input id="newAnimalId" name="newAnimalId"  class="form-control"  type="number" value="{{sighting.animalId}}">
            <button type="submit" class="btn btn-default">Go!</button>
        </form>
        </div>
    {{else}}
    <form action= "/sightings" method="post">
        <div class="form-group">
            <label for="ranger" id="ranger" >Ranger</label>
            <input type="text" class="form-control" id="ranger" name="ranger" placeholder="Ranger" required>
        </div>
        <div class="form-group">
            <label for="location" id="location">Example select</label>
            <select class="form-control" id="location" name="location" required>
                <option >ZONE A</option>
                <option >ZONE B</option>
                <option>ZONE C</option>
                <option >ZONE D</option>
                <option >ZONE E</option>
            </select>
        </div>
        <div class="form-group">
            <label for="animalId">Animal Sighted</label>
                <input id="animalId" name="animalId" type="number" class="form-control" placeholder="Ranger" required>
        </div>
        <button class="btn btn-info" type="submit" >Add Sighting</button>
    </form>
    {{/if}}
    {{/partial}}
{{> layout.hbs}}

