{{#partial "content"}}
    <h1>{{category.location}}</h1>
    <p>Here are all the tasks listed in this category:</p>
    <a href="/sightings/{{category.id}}/edit">Edit this category</a><br>
    <a href="/sightings/{{category.id}}/delete">DELETE this category</a>
{{/partial}}

{{> layout.hbs}}